#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "FelixKratz/formulae"
    "isen-ng/dotnet-sdk-versions"
    "koekeishiya/formulae" -}} 
{{ $brews := list
    "bat"
    "borders"
    "cmake"
    "composer"
    "curl"
    "fd"
    "ffmpeg"
    "ffmpegthumbnailer"
    "fzf"
    "gettext"
    "git"
    "git-delta"
    "gleam"
    "go"
    "imagemagick"
    "jq"
    "just"
    "julia"
    "lazygit"
    "lynx"
    "neovim"
    "node"
    "nushell"
    "ninja"
    "pnpm"
    "poppler"
    "ripgrep"
    "sevenzip"
    "starship"
    "uv"
    "unzip"
    "wget"
    "yazi"
    "zellij"
    "zoxide"
    "zsh-syntax-highlighting" -}}
{{ $casks := list
    "alacritty"
    "dotnet-sdk9"
    "dotnet-sdk8"
    "font-symbols-only-nerd-font"
    "google-chrome"
    "ghostty"
    "hammerspoon"
    "karabiner-elements"
    "visual-studio-code"
    "wezterm" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

