node_modules/
lazy-lock.json

# macOS system files
.DS_STORE
.DS_Store

# Chezmoi specific ignores
.chezmoi.toml.tmp
.chezmoistate

!home/.claude/CLAUDE.md
!home/.claude/settings.json
!home/.claude/agents
!home/.claude/agents/*
!home/.claude/commands
!home/.claude/commands/*
