#!/bin/bash

set -eufo pipefail

{{ $packages := list
   "7zip"
   "air-bin"
   "arp-scan"
   "autoconf"
   "autojump-rs"
   "automake"
   "aws-cli-v2-bin"
   "awslogs" 
   "aws-session-manager-plugin"
   "base"
   "base-devel"
   "bat"
   "bind"
   "btop"
   "bun-bin"
   "cloudflared"
   "cmake"
   "composer"
   "consolas-font"
   "cronie"
   "direnv"
   "dmidecode"
   "dmraid"
   "docker"
   "docker-compose"
   "downgrade"
   "esbuild"
   "elixir"
   "exfat-utils"
   "fd"
   "ffmpeg"
   "ffmpegthumbnailer"
   "fnm"
   "fuse-overlayfs"
   "fzf"
   "gettext"
   "git"
   "git-delta"
   "github-cli"
   "gitwatch-git"
   "gleam"
   "gnu-netcat"
   "go"
   "goreleaser"
   "hyperfine"
   "imagemagick"
   "inetutils"
   "iperf3"
   "iw"
   "iwd"
   "jq"
   "julia"
   "just"
   "lazygit"
   "less"
   "libaio"
   "libldm"
   "linux"
   "linux-firmware"
   "lsof"
   "make"
   "mariadb-clients"
   "mitmproxy"
   "mono"
   "mysql-clients"
   "ncdu"
   "neofetch"
   "neovim"
   "nfs-utils"
   "ngrok"
   "ninja"
   "nmap"
   "noto-fonts-emoji"
   "nushell"
   "oh-my-zsh-git"
   "openssh"
   "paru-bin"
   "pkgconf"
   "plow"
   "pnpm"
   "poppler"
   "postgresql"
   "prettierd"
   "pscale-cli-bin"
   "pspg"
   "pv"
   "python"
   "python-pynvim"
   "reflector"
   "ripgrep"
   "rsync"
   "rustup"
   "speedtest-cli"
   "sshfs"
   "sshuttle"
   "sst-bin"
   "starship"
   "stow"
   "sudo"
   "syncthing"
   "sysbench"
   "tailscale"
   "terraform"
   "traceroute"
   "typescript"
   "unison"
   "unrar"
   "unzip"
   "uv"
   "vercel"
   "wget"
   "xclip"
   "yazi"
   "yt-dlp"
   "zellij"
   "zip"
   "zoxide"
   "zsh"
   "zsh-syntax-highlighting-git" -}}

echo "Installing packages"
PKGLIST="/tmp/pkglist.$$"
trap 'rm -f "$PKGLIST"' EXIT

printf "%s\n" {{ $packages | sortAlpha | uniq | join " " }} > "$PKGLIST"
sudo pacman -D --asexplicit - < "$PKGLIST"
paru -S --asexplicit --needed - < "$PKGLIST"
